####### Thisoe ignores #######
TODO



####### GitHub's Node.js gitignore template #######

build/Release
node_modules/
.env
.env.*
!.env.example
logs
*.log
npm-debug.log*
lerna-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

pids
*.pid
*.seed
*.pid.lock

lib-cov
coverage
*.lcov

.nyc_output

.grunt

bower_components

.lock-wscript
jspm_packages/
web_modules/

*.tsbuildinfo

.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz

.cache
.parcel-cache

.next
out
.nuxt
dist
.output
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

.cache/

.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port

.vscode-test

.pnpm-store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity
yarn-debug.log*
yarn-error.log*
